


@import ../../global.sass

.layer.toggle
    position : relative
    width    : 45px
    height   : 30px
    defs mask
        circle
            cy : 33.33px
            r  : 33.33px
            fill : white
            &:nth-child(1)
                cx : 33.33px
            &:nth-child(2)
                cx : 66.66px
            &:nth-child(4)
                fill : black
                r    : 30.33px
        rect
            fill   : white
            x      : 33.33px
            width  : 33.33px
            height : 66.66px
    g rect
            width  : 100px
            height : 66.66px
            &:nth-child(1)
                fill : $colorLightGray
            &:nth-child(2)
                fill : $colorBlue
    &.disabled g rect
        fill: $colorDarkGray

    
    