


$blue : hsl(200, 100%, 50%)

* 
    margin     : 0
    box-sizing : border-box

html
    width  : 100%
    height : 100%
    body
        background-color : hsl(210,13%,14%)
        perspective      : 500px
        width            : 100%
        height           : 100%

.layer
    font-family : 'arial'
    font-size   : 13
    transition  : box-shadow .2s
    &.default
        position            : relative
        display             : inline-block
        width               : 100px
        height              : 100px
        background-color    : rgba(white, .7)
        background-size     : cover
        background-position : center
    &.drag
        box-shadow: 0 0 100px 0 rgba(black, .5) !important
    &.resize
        background: red
    .edge
        position      : absolute
        width         : 12px
        height        : 12px
        background    : $blue
        border-radius : 6px
        margin-left   : -6px
        margin-top    : -6px
        // border        : 1px white solid
        // box-shadow    : 0px 0px 5px 0px rgba(0,0,0, .3)
        &.lt, &.l, &.lb
            left : 0%
        &.t, &.b
            left : 50%
        &.rt, &.r, &.rb
            left : 100%
        &.lt, &.t, &.rt
            top : 0%
        &.l, &.r
            top : 50%
        &.lb, &.b, &.rb
            top : 100%
        &.l
            cursor: w-resize
        &.lt
            cursor: nw-resize
        &.t
            cursor: n-resize
        &.rt
            cursor: ne-resize
        &.r
            cursor: e-resize
        &.rb
            cursor: se-resize
        &.b
            cursor: s-resize
        &.lb
            cursor: sw-resize
        

.scroller
    width  : 100%
    height : 100%
    -webkit-scroll-snap-type        : mandatory
    -webkit-scroll-snap-destination : 50% 50%
    & > .layer
        width  : 100%
        height : 100%
        -webkit-scroll-snap-coordinate : 50% 50%
    &.x
        overflow-y  : hidden
        white-space : nowrap
        & > .layer
            display     : inline-block
            white-space : normal
    &.y
        overflow-x : hidden
        

