

@import ../../global.sass

.layer
    font-family : 'arial'
    font-size   : 13
    transition  : box-shadow .2s
    &.default
        position            : relative
        display             : inline-block
        width               : 100px
        height              : 100px
        background-color    : rgba($colorLight, .7)
        background-size     : cover
        background-position : center
        

